<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion des événements sportifs{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <!-- Ajouter le CDN de Leaflet pour la carte -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Ajouter Bootstrap via CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIq0eA3F+HgkPp5KkSu4l4aEJtbaX1OemCVmCg6+8FZ9WbdYpF2" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('list_events') }}">Liste des événements</a></li>
                <li><a href="{{ path('add_event') }}">Créer un événement</a></li>
            </ul>
        </nav>
    </header>


    <main>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Gestion des événements sportifs</p>
    </footer>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4m+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-6bRz3GeD0yLoQjxq3ioQ1bbGgFH4JZ9+uwK5bCj0xJ52bFj80ZAB5ywlfwlN+TKs" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0eA3F+HgkPp5KkSu4l4aEJtbaX1OemCVmCg6+8FZ9WbdYpF2" crossorigin="anonymous"></script>

</body>
</html>
